.team-list__item:not(:last-child),
.product-work__item :not(:last-child),
.qualities-list__item:not(:last-child) {
  margin-right: 30px;
}

.qualities-list {
  display: flex;

  &__item {
    text-align: left;

    width: 270px;
  }
  &__icon {
    @include flex;

    background-color: var(--bgc-team);
    border-radius: 4px;
    width: 270px;
    height: 120px;
    text-align: center;
  }

  &__text {
    @include font($fw: 400, $lh: 24px);

    margin-top: 0;
    margin-bottom: 0;
  }
}
