.navigation {
  @include flex;
}

/* site-nav */

.site-nav {
  display: flex;
  margin-left: 93px;

  &__link {
    display: block;
    position: relative;
    color: var(--title-text-color);
    @include font($fw: 500, $ls: 0.02em);
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;

    transition: color var(--timing-function) var(--timing250ms);

    &--current::after {
      content: "";
      display: block;
      width: 100%;
      height: 4px;
      background-color: var(--accent-color);
      position: absolute;
      left: 0;
      bottom: 0;
      border-radius: 2px;

      transition: var(--timing250ms) var(--timing-function);
    }

    &--current:hover::after {
      transform: scaleX(1.5);
    }

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
    &--current {
      color: var(--accent-color);
      text-decoration: none;
      @include font($fw: 500, $ls: 0.02em);
    }
  }

  &__item:not(:last-child) {
    margin-right: 50px;
  }
}
