.navigation {
  @include flex;
}

/* site-nav */

.site-nav {
  display: flex;
  margin-left: 93px;

  &__link {
    display: block;
    position: relative;
    color: var(--title-text-color);
    @include font($fw: 500, $ls: 0.02em);
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;

    transition: color var(--timing-function) var(--timing250ms);
  }

  &__link--current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    position: absolute;
    left: 0;
    bottom: 0;

    transition: var(--timing250ms) var(--timing-function);
  }

  &__link--current:hover::after {
    transform: scaleX(1.5);
  }
  &__item:not(:last-child) {
    margin-right: 50px;
  }

  &__link:hover,
  &__link:focus {
    color: var(--accent-color);
  }
  &__link--current {
    color: var(--accent-color);
    text-decoration: none;
    @include font($fw: 500, $ls: 0.02em);
  }
}
